@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif; 
}

section{
    width: 100%;
    height: 100vh;
    background-image:  url("fpbkgrnd.png");
    background-size: cover;
    background-position: center;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    text-align: center;
}
.login-form{
    position: relative;
    box-sizing: border-box;
    padding: 60px 30px;
    transition: 0.5s;
    color: #fff;
}
.login-form:hover{
    background: rgb(61, 4, 83);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 30px;
    
}
h1{
    margin: 0 0 20px;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}
.login-form input{
    display: block;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 25px;
    outline: none;
    color: #fff;
    border:  none;
    background: rgba(255,255,255,0.1);
}
.login-form input::placeholder{
    color: #fff;
}
login-form input[type="submit"]{
    color: #fff;
    background: #09020e;
    font-size:16px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}
login-form input[type="submit"]:hover{
    background: #1a0d16;
}
.login-form a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}